.container {
    width: 99%;
    display: flexbox;
    justify-content: center;
}

body{
    background: url(backpat7.png) repeat;
}

.row {
    display: flex;
    padding-top: 30px;
    padding-left: 200px;
  }

.col {
 
    width: 700px;
    height: 850px;
    padding: 30px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #ee5253;
}

#pria, #wanita {
    font-size: 18px;
    font-weight: 50;
}

h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

p{
    text-align: justify;
    font-size: 18px;
    font-weight: 10;
}

li {
    font-size: 17px;
    font-weight: 10;
}

#w, #h, #u{
    color: #222f3e;
    text-align: left;
    font-size: 18px;
    font-weight: 100;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid #341f97;
    width: 200px;
}

.text {
    font-size: 18px;
    font-weight: 50;
}

#w:focus, #h:focus{
    border-bottom: 2px solid #341f97;
    width: 300px;
    transition: 0.5s;
}

#result{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #fc0410;
}

#hasilKualitas{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #00a2ff;
}

#ket {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #0f0e0e;
}

#btn{

    font-family: inherit;
    margin-top: 10px;
    border: none;
    color: #fff;
    background-image: linear-gradient(120deg,#ff6b6b, #5f27cd);
    width: 150px;
    padding: 10px;
    border-radius: 30px;

}


#btns{

    font-family: inherit;
    margin-top: 10px;
    border: none;
    color: #fff;
    background-image: linear-gradient(120deg,#ff6b6b, #1f1f20);
    width: 100px;
    padding: 5px;
    border-radius: 30px;

}

#btnd{
    font-family: inherit;
    margin-top: 10px;
    border: none;
    color: #fff;
    background-image: linear-gradient(120deg,#47a2ec, #ec6161);
    width: 100px;
    padding: 5px;
    border-radius: 30px;

}

#btnk{
    font-family: inherit;
    margin-top: 10px;
    border: none;
    color: #fff;
    background-image: linear-gradient(120deg,#47a2ec, #ec6161);
    width: 100px;
    padding: 5px;
    border-radius: 30px;

}

#btn:hover, #btns:hover, #btnd:hover, #btnk:hover{
    box-shadow: 1px 1px 10px #341f97;
}

#info{
    font-size: 12px;
    font-family: inherit;
}
